* {
margin: 0px;
padding: 0px;/* 要素同士の隙間を0に */
box-sizing: border-box;/* スクロールの余白なし */
}
li {
  list-style: none;
}
.btn {
  color:rgb(255, 255, 255);
  background-color:rgb(247, 147, 20);
  border-radius: 50%;
  text-align: center;
}
.btn:hover {
  opacity :.5;
}



body {}
.top {
  height:605px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya_potepan/master/image/top-hero.png);
  background-size: cover;}
  .header {
    height:40px;
  }
    .header-container {
      padding-left:320px;
      display: flex;
    }
      .header-container-logo {
        width:185px;
        height:20px;
        margin-right: 135px;
      }
      .header-container-list {
        color:rgb(0, 0, 0);
        display: flex;
        margin-right: 20px;
      }
        .header-container-list li{
          font-weight: 700;
          font-size: 14px;
          line-height: px;
          text-align: center;}
          .header-container-list span{
            font-weight: 700;
            font-size: 10px;
            line-height: px;
          }
      .header-container-btn {
        height:40px;
      }
      .header-container-logo,.header-container-list,.header-container-btn:hover {
        opacity :.5;
      }
  .main {
    width:525px;
    padding-left:320px;
  }
    .main-counseling {
      padding-top:150px;
      padding-bottom:130px;
      display: flex;
    }
      .main-counseling-left {
        width:340px;
      }
        .main-counseling-left-image {
          width:340px;
          height:40px;
        }
        .main-counseling-left-text {
          font-weight: 400  ;
          font-size: 20px;
          line-height: 34px;
        }
        .main-counseling-left-btn {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      .main-counseling-right {
        width:185px;
      }
        .main-counseling-right-image {
          width:100%;
          height:100%;
        }
    .main-annotation {
      margin-bottom:30px;
      vertical-align : bottom;
    }
      .main-annotation-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color:rgb(220, 220, 220);
      }





.about {
  height:330px;
  background-color:rgb(247, 147, 20);
  color:rgb(255, 255, 255);}
  .about-container {
    width:1050px;
    display: flex;
  }
    .about-left {
      width:550px;
      margin-right: 175px;
    }
      .about-left-1 {
        padding-bottom:35px;
      }
        .about-left-1 span{}
      .about-left-2 {
        font-weight: 700;
        font-size: 14px;
        line-height: 32px;
      }
    .about-right {
      width:323px;
      height:60px;
      background-color:rgb(255, 255, 255);
      color:rgb(247, 147, 20);
    }
      .about-right-btn {}



.header-menu {
  width:100%;
  /*  */
  margin: 0 auto;
  display: flex;
}

.header-content {
  width:510px;
}
.header-content-text {
  display: flex;
}
.header-content-text-left {
}
.header-content-left-1-logo {}
.header-content-left-2 {}
.header-content-left-3 {}
.header-content-btn {}
.header-content-left-button {
  font-weight: 700;
  font-size: 16px;
  line-height: px;
}

.header-menu-list {
  font-weight: 700;
  font-size: 14px;
  line-height: px;
  /*  */
  display: flex;
}
.header-menu-list li{
  font-weight: 700;
  font-size: 10px;
  line-height: px;
}
.header-menu-button a{
  font-weight: 700;
  font-size: 12px;
  line-height: px;
}
.header-memo {
  width:100%;
  color:rgb(185, 185, 185);
  /*  */
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}



.about {
  width:100%;
  height:330px;
  background-color:rgb(247, 147, 20);
  color:#ffffff;
}
.about-box {
  padding-left:320px;
  padding-right:320px;
}
.about-left {
  width:50%;
}
.about-left-box {
  width:550px;
  float:right;
}
.about-left-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: px;
}
.about-left-1 span{
  font-weight: 900;
  font-size: 50px;
  line-height: px;
}
.about-left-2 {}
.about-left-2 p{
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
}

.about-right {}
.about-right-button {
  background-color:#ffffff;
  color:rgb(247, 147, 20);
}
.about-right-button p{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.about-right-button p span{
  font-weight: 700;
  font-size: 14px;
  line-height: px;
}



.future {
  width:100%;
  height:2335px;
}
.future-title {

}
.future-one {}
.future-two {}
.future-three {}


.course {
  width:100%;
  height:1040px;
  background: url();
}
.course-course {}
.course-carrier {}
.course-beginner {}
.course-open {}
.course-button {}

.message {
  width:100%;
  height:790px;
}


.interview {
  width:100%;
  height:930px;
}


.service {
  width:100%;
  height:630px;
}

.footer {
  width:100%;
  height:490px;
}










/*  */
