* {
margin: 0px;
padding: 0px;/* 要素同士の隙間を0に */
box-sizing: border-box;/* スクロールの余白なし */
}
li {
  list-style: none;
}

 body {
font-family:"";/* 1ワードの場合は""は無し */
}

.header {
  width:100%;
  height:605px;
  background: url(https://raw.githubusercontent.com/genkimita/mosya_potepan/master/image/top-hero.png);
  background-size: cover;
}
.header-menu {
  width:100%;
  /*  */
  display: flex;
}
.header-menu-list {
  /*  */
  display: flex;
}
.header-content {
  width:510px;
}
.header-memo {
  width:100%;
}



.about {
  width:100%;
  height:330px;
  background-color:rgb(247, 147, 20);
  color:#ffffff;
}
.about-left {
  width:50%;
}
.about-left-box {
  width:550px;
  float:right;
}
.about-right {}
.about-right-button {
  background-color:#ffffff;
  color:rgb(247, 147, 20);
}



.course {
  width:100%;
  height:2335px;
}

.message {
  width:100%;
  height:790px;
}


.interview {
  width:100%;
  height:930px;
}


.service {
  width:100%;
  height:630px;
}

.footer {
  width:100%;
  height:490px;
}










/*  */
