
  /* タブレット用 */
  @media screen and (max-width: 1080px) {

    body {
      width:100%;
    }
    .main-section {
      width:100%;
    }
      .content-width {
        max-width: 1140px;
        padding-left:50px;
        padding-right:50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
        .section-title p{
          text-align: center;
        }

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-header ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .header#float-header {
      position: sticky;
      top: 0;
      left: 0;
    }
    .header {
      width:100%;
      background-color:rgb(255, 255, 255);
      z-index:10;
    }
      .header-width {
      }
        .header-nav {}
          .header-logo {}
          .header-nav-list {
            display: none;
          }
          .res-header-icon-hamburger {
            display: block;
            width:30px;
            height:21px;
            display: inline-flex;
            cursor:pointer;
            position: relative;
          }
            span.hamburger-line:first-child {
              top: 0;
            }
            span.hamburger-line  {
              position: absolute;
              top: 50%;
              display: block;
              width: 100%;
              height: 3px;
              background-color: #222;
              transform: translate(0, -50%);
              border-radius: 10px;
              transition: top 0.2s, transform 0.2s, opacity 0.3s;
            }
            span.hamburger-line:last-child  {
              top: 100%;
            }

          /* .header-nav *:last-child {
            display: inline-flex;
          }
          .res-header-icon-hamburger {
            width:30px;
            height:21px;
            cursor:pointer;
            position: relative;
            z-index:20;
          }
            span.hamburger-line:first-child {
              top: 0;
            }
            span.hamburger-line  {
              position: absolute;
              top: 50%;
              display: block;
              width: 100%;
              height: 3px;
              background-color: #222;
              transform: translate(0, -50%);
              border-radius: 10px;
              transition: top 0.2s, transform 0.2s, opacity 0.3s;
            }
            span.hamburger-line:last-child  {
              top: 100%;
            } */

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-top ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-about ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  　.about-course {}
      .res-about-course-title {
        display: block;
        color:rgb(247,147,20);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom:10px;
      }
        p.res-about-course-title-text1 {
          font-size: 20px;
          font-weight: bold;
          line-height: 32px;
          letter-spacing: 4px;
        }
        p.res-about-course-title-text2 {
          font-weight: 700;
          font-size: 30px;
          line-height: 32px;
        }
          .res-about-course-title-text2 span{
            font-weight: 700;
            font-size: 40px;
            line-height: 32px;
          }
        .line1-text {
          display: none;
        }

        /* 3コース工事中 */
        .tr1-1-left {
          width:65%;
        }
        .tr1-1-right {
          display: none;
        }2

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-plan ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
        .plan-section {}
          .content-width {}
            .section-title {}
            .sp-plan-title {
            }
            .section-container {}
              .course-header {}
                ul.course-header-list {}
                  li.course-header-list0 {
                  }
                    .course-header-list0 p {
                    }
                    .course-header-list0 p::before {
                      font-size: 15px;
                      position: absolute;
                      top: 50%;
                      left: 10%;
                    }
                    .course-header-list0 p span {
                      display: block;
                      font-size: 20px;
                    }
                    .course-header-list3 {
                      flex-direction: column
                    }
                    .course-header-list3-img {
                      display: none;
                    }
                    .res-open-img {
                      display: block;
                      position: absolute;
                      margin:-52px auto 0 auto;
                      text-align: center;
                    }
                      .res-open-img img{
                        width:100%;
                        height:auto;
                      }
                    .course-recommend {}
                    .course-overview {}
                    .course-flow {}
                      .course-flow-left {}
                        .course-flow-left img {
                          align-items: center;
                        }
                      .course-flow-right {}


  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-voice ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-footer ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


  }

  /* スマホ用 */
  @media screen and (max-width:767px){

  html {
    font-size: 15px;
  }
  body {
    overflow-x: hidden;
  }
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-header ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  .header {
    padding-top:10px;
    padding-bottom:10px;
    height:50px;
  }
  .content-width {
    padding-left:20px;
    padding-right:20px;
  }
  .header-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .header-logo {
      display: none;
    }
    .sp-header-logo {
      display: block;
    }
      .sp-header-logo img{
        width:auto;
        height:16px;
      }
    .header-nav-list {
      display: none;
    }
    .res-header-icon-hamburger {
      display: block;
      display: inline-flex;
    }
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-main-section ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .main-section {}
      .content-width {
        max-width: none;
        padding-left:20px;
        padding-right:20px;
      }
      .content-tidy {}
        .section-title {
          font-size: 22px;
          margin-top:50px;
        }
        .section-title::after {
          border-bottom:5px solid rgb(247, 147, 20) ;
        }
          .section-title span{
            font-size: 22px;
          }
            .section-title br {
              display: block;
            }
        .section-container {}

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-top ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .top-section {
      height:160px;
    }
      .content-width {
      /* 共通 */
    }
      .top-width {
        background: url(https://raw.githubusercontent.com/genkimita/mosya_potepan/master/course/image/course-hero-sp.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .top-width::after {
        background-color:rgb(247,147,20);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
        .top-title {
          width:150px;
          margin-top:0px;
          margin-left: auto;
          margin-right: auto;
        }
          .top-title p{
            font-weight: ;
            font-size: 23px;
            line-height: px;
          }
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-about ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .about-section {}
      .content-title {}
        .plan-section .section-title {
          display: none;
        }
        .plan-title {
          font-size: 26px;
          line-height: 31px;
        }
        .plan-title::after {
          border-bottom:5px solid rgb(247, 147, 20) ;
        }
        .about-explanation {}
          .about-explanation1 {
            font-size: 15px;
            text-align: left;
          }
            .about-explanation1 br{
              display: none;
            }
          .about-explanation2 {}
            .under-line-yellow {
              font-size: 16px;
            }
          .about-explanation3 {
            font-size: 15px;
            text-align: left;
          }
            .about-explanation3 br{
              display: none;
            }
        /* 共通ポイント */
        .about-point {
          padding:30px 20px 40px 20px;
        }
        .about-point-logo {
        }
          .about-point-logo a {
            width:32px;
            height:auto;
          }
        .about-point-title {
          font-size: 20px;
        }
          ul.about-point-list {
            flex-wrap: wrap
          }
            li.about-point-list0 {
              width:100%;
            }
          .about-point-list-left {
            margin-bottom:35px;
          }
          .about-point-list-center {
            margin-bottom:35px;
          }
          .about-point-list-right {}
        /* 3コース */
        .test-section {
          padding-left:20px;
          padding-right:20px;
        }
          .test-width {
            padding-left:initial;
            padding-right:initial;
            overflow-x: scroll;
          }
            .res-about-course-title {}
            table.three-course-table {}
              .tr1 {}
                .tr1-1 {
                  padding: 5px;
                }
                  .tr1-1-left {
                    width:100%;
                  }
                .tr1-4 {}
                  .tr1-4-img {
                    margin:-77px auto 0 auto;
                  }
              tr.tr {}
                .tbl-col:nth-child(1) {
                  width:23.6%;
                }
                .tbl-col:nth-child(n+2) {
                  width:25.4%;
                }
                th {}
                  .tbl-sub-head {
                    font-size: 10px;
                    line-height: 11px;
                  }
                td {}
                .tr1 {}
                .tr2 {}
                .tr3 {}
                .tr4 {}
                .tr5 {}
                .tr6 {}
                .tr7 {}
                  .tbl-sub-head,
                  .tr2 td,
                  .tr6 td {
                    padding:10px 12px 20px 10px;
                  }
                  .tr3 td,
                  .tr4 td {
                    margin-top:20px;
                    margin-bottom:20px;
                  }
                  .tr5 td {
                    margin-top:25px;
                    margin-bottom:20px;
                  }
                  .tr7 td {
                    margin-top:10px;
                    margin-bottom:8px;
                  }
                  .tbl-head:nth-child(n+2) {
                    font-size: 10px;
                    line-height: 15px;
                  }
                  .tbl-head:nth-child(n+2) span {
                    font-size: 12px;
                    line-height: 15px;
                  }
                  span.sp-tr1-4 {
                    display: block;
                  }
                  .tbl-head:nth-child(4) span:nth-child(2) {
                    display: none;
                  }
                  .tr2 td,
                  .tr6 td {
                    font-size: 10px;
                    line-height: 12px;
                    vertical-align : top;
                  }
                    .tr2 td p,
                    .tr6 td p {
                      display: inline-block;
                    }
                    .td-bf-p {
                      padding-left:8px;
                    }
                    .td-bf-p::before {
                      position: absolute;
                      top: 5px;
                      left: 0;
                      display: inline-block;
                      width:5px;
                      height:5px;
                      margin:0 3px 0 0;
                    }
                    .tbl-icon-img {
                      width:20px;
                    }
                  .tr5 td {
                    font-size: 10px;
                    line-height: 15px;
                  }
                  .tr5 span {
                    font-size: 15px;
                    line-height: 23px;
                  }
                  .tbl-price {
                    font-size: 12px;
                    line-height: 18px;
                  }

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-plan ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  .plan-section {}
    .content-width {}
      .section-title {}
      .sp-plan-title {
        display: block;
        font-weight: 700px;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
      }
      .sp-plan-title::after {
        border-bottom:5px solid rgb(247, 147, 20) ;
      }
      .section-container {
        /* 共通 */
      }
        .course-header {}
          ul.course-list {
            flex-wrap: wrap
          }
            li.course-header-list0 {
              width:100%;
            }
              .course-header-list0 p {

              }
        .course-box {}
          .course-title {}
            .course-title-p1 {
              font-size: 24px;
              line-height: 27px;
            }
              .mgr-15 {
                display: none;
              }
              .course-title-p1 br {
                display: block;
              }
            .course-title-p2 {}

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-voice ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー sp-footer ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */



  }




  /*  */
