
  /* タブレット用 */
  @media screen and (max-width: 1080px) {

    body {
      width:100%;
    }
    .main-section {
      width:100%;
    }
      .content-width {
        max-width: 1140px;
        padding-left:50px;
        padding-right:50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
        .section-title p{
          text-align: center;
        }

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-header ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .header#float-header {
      position: sticky;
      top: 0;
      left: 0;
    }
    .header {
      width:100%;
      background-color:rgb(255, 255, 255);
    }
      .header-width {
      }
        nav.header-nav {
          width:30px;
          height:20px;
        }
          .header-logo {}
          ul.header-nav-list {
            display: none !important;
          }
          .res-header-icon-hamburger {
            display: inline-flex;
            display: block;
            position: relative;
            width:30px;
            height:20px;
            cursor:pointer;
          }
            span.hamburger-line  {
              display: block;
              width: 30px;
              height: 3px;
              background-color: #222;
              position: absolute;
              left: 0;
              transition: all 0.5s ease;
            }
            span.hamburger-line:first-child {
              top: 0;
            }
            span.hamburger-line:nth-child(2) {
              top: 50%;
            }
            span.hamburger-line:last-child  {
              top: 100%;
            }
            /* メニュークリック時 */
            .bar1.open {
              top: 50% !important;
              transform: rotate(45deg);
            }
            .bar2.open {
              opacity:0;
            }
            .bar3.open {
              top: 50% !important;
              transform: rotate(-45deg);
            }
            /* メニュー引き出し */
            .drawer {
              display: block;
              z-index:80;
              width:100%;
              position: fixed;
              top: 0;
              right: -100%;
              -webkit-transition: .7s;
              transition: .5;
              background:rgba(0,0,0,.8);
              display: flex;
              justify-content: center;
              padding-bottom:70px;
            }
            .drawer.open {
              right: 0;
            }
              ul.drawer-menu {
                padding: 0;
                margin-top:103px;
                text-align: center;
                z-index:90;
              }
                li.drawer-list:nth-child(n+2) {
                  margin-top:38px;
                }
                li.drawer-list {
                }
                  .drawer-list p:nth-child(1) {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: px;
                    color:rgb(255, 255, 255);
                  }
                  .drawer-list p:nth-child(1):nth-child(-n+6) {
                    letter-spacing: 5px;
                  }
                  .drawer-list p:nth-child(2) {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: px;
                    letter-spacing: 2px;
                    color:#f79314;
                  }
                  .drawer-list p:nth-child(-n+6) {
                    margin-bottom:5px;
                  }
                p.drawer-btn {
                  width:250px;
                  height:60px;
                  letter-spacing: none;
                  border-radius: 30px;
                  background-color:rgb(247,147,20);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }




    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-top ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-about ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  　.about-course {}
      .res-about-course-title {
        display: block;
        color:rgb(247,147,20);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom:10px;
      }
        p.res-about-course-title-text1 {
          font-size: 20px;
          font-weight: bold;
          line-height: 32px;
          letter-spacing: 4px;
        }
        p.res-about-course-title-text2 {
          font-weight: 700;
          font-size: 30px;
          line-height: 32px;
        }
          .res-about-course-title-text2 span{
            font-weight: 700;
            font-size: 40px;
            line-height: 32px;
          }
        .line1-text {
          display: none;
        }

        /* 3コース */
        .tr1-1-left {
          width:65%;
        }
        .tr1-1-right {
          display: none;
        }
        .tr1-4-img {
          margin-top:-55px;
        }


  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tl-plan ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
        .plan-section {}
          .content-width {}
            .section-title {}
            .sp-plan-title {
            }
            .section-container {}
              .course-header {}
                ul.course-header-list {}
                  li.course-header-list0 {
                  }
                  .course-header-list0 .mgr-10 {
                    display: none;
                  }
                  span.tl-sp-br {
                    display: block;
                  }
                  span.tl-sp-br::before {
                    content: "\A" ;
                    white-space: pre ;
                  }
                    .course-header-list0 p {
                      font-weight: 700;
                      font-size: 16px;
                      line-height: px;
                      text-align: center;
                      margin-left: auto;
                      margin-right: auto;
                    }
                    span.course-header-span1 {/* 上の行 */
                      font-size: 20px !important;
                    }
                    .course-header-list0 p::before {/* 矢印 */
                      position: absolute;
                      top: 50%;
                      left: 10%;
                    }
                    .course-header-list0 p a {
                      display: none;
                    }
                    img.course-header-list3-img {
                      display: none !important;
                    }
                    .res-open-img {
                      display: block;
                      width:60px;
                      position: absolute;
                      margin:-80px auto 0 auto;
                      text-align: center;
                    }
                      .res-open-img img{
                        width:100%;
                        height:auto;
                      }
                  .course-flow {}
                    ul.course-flow-list {}
                      li.course-flow-list1 {}
                      li.course-flow-list0 {}
                          .flow-list-left {
                            position: relative;
                            display: initial;
                            height:auto;
                          }
                            .flow-list-left img {
                              width:100%;
                              height:auto;
                              position: relative;
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%, -50%);
                            }
                            .flow-list-left p {}
                          .flow-list-right {}
                      li.course-flow-list2 {}
                      li.course-flow-list3 {}
                      li.course-flow-list4 {
                      }


  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-voice ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-footer ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


  }





  /*  */
