
  /* タブレット用 */
  @media screen and (max-width: 1080px) {

    body {
      width:100%;
    }
    .main-section {
      width:100%;
    }
      .content-width {
        max-width: 1140px;
        padding-left:50px;
        padding-right:50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
        .section-title p{
          text-align: center;
        }

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-header ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
    .header#float-header {
      position: sticky;
      top: 0;
      left: 0;
    }
    .header {
      width:100%;
      background-color:rgb(255, 255, 255);
      z-index:10;
    }
      .header-width {
      }
        .header-nav {}
          .header-logo {}
          .header-nav-list {
            display: none;
          }
          .res-header-icon-hamburger {
            display: block;
            width:30px;
            height:20px;
            display: inline-flex;
            cursor:pointer;
            position: relative;
          }
            span.hamburger-line:first-child {
              top: 0;
            }
            span.hamburger-line  {
              position: absolute;
              top: 8.5px;
              display: block;
              width: 30px;
              height: 3px;
              background-color: #222;
              transform: translate(0, -50%);
              border-radius: 10px;
              transition: all 0.5s ease;
            }
            span.hamburger-line:last-child  {
              top: 100%;
            }
            /* メニュークリック時 */
            .bar1.open {
              top: 8.5px;
              transform: rotate(45deg);
            }
            .bar2.open {
              opacity:0;
            }
            .bar3.open {
              top: 8.5px;
              transform: rotate(-45deg);
            }
            /* メニュー引き出し */
            .drawer {
              width:100%;
              position: fixed;
              top: 0;
              right: -100%;
              -webkit-transition: .7s;
              transition: .5;
              background:rgba(0,0,0,.7);
              display: flex;
              justify-content: center;
            }
            .drawer.open {
              right: 0;
            }
              ul.drawer-menu {
                padding: 0;
                margin: 0;
                text-align: center;
              }
                li.drawer-list {
                  margin-top:30px;
                }
                li.drawer-list {
                  margin-bottom:75px;
                }
                  .drawer-list p {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: px;
                    color:#f79314;
                  }
                  .drawer-list p span {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: px;
                    color:rgb(255, 255, 255);
                  }
                p.drawer-btn {
                  height:60px;
                  border-radius: 30px;
                  background-color:rgb(247,147,20);
                  text-align: center;
                  align-items: center;
                }




    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-top ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-about ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  　.about-course {}
      .res-about-course-title {
        display: block;
        color:rgb(247,147,20);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom:10px;
      }
        p.res-about-course-title-text1 {
          font-size: 20px;
          font-weight: bold;
          line-height: 32px;
          letter-spacing: 4px;
        }
        p.res-about-course-title-text2 {
          font-weight: 700;
          font-size: 30px;
          line-height: 32px;
        }
          .res-about-course-title-text2 span{
            font-weight: 700;
            font-size: 40px;
            line-height: 32px;
          }
        .line1-text {
          display: none;
        }

        /* 3コース工事中 */
        .tr1-1-left {
          width:65%;
        }
        .tr1-1-right {
          display: none;
        }2

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-plan ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
        .plan-section {}
          .content-width {}
            .section-title {}
            .sp-plan-title {
            }
            .section-container {}
              .course-header {}
                ul.course-header-list {}
                  li.course-header-list0 {
                  }
                    .course-header-list0 p {
                      font-size: 15px;
                    }
                    .course-header-list0 p span {
                      font-size: 20px;
                    }
                    .course-header-list0 p::before {
                      position: absolute;
                      top: 50%;
                      left: 10%;
                    }
                    .course-header-list3-img {
                      display: none;
                    }
                    .res-open-img {
                      display: block;
                      position: absolute;
                      margin:-52px auto 0 auto;
                      text-align: center;
                    }
                      .res-open-img img{
                        width:100%;
                        height:auto;
                      }
                      .course-flow-left {}
                        .course-flow-left img {
                          align-items: center;
                        }
                      .course-flow-right {}


  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-voice ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー tab-footer ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


  }





  /*  */
